<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h2>アカウント凍結解除メールの送信</h2><hr>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <table class=devise_table>

          <tr>
            <th><%= f.label :email %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %><td>
          </tr>

        </table><hr>

          <div class="actions">
            <%= f.submit "凍結解除用メールの送信", class: 'devise-btn' %>
          </div>

      <% end %><hr>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
