<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h4>投稿できませんでした</h4>
      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'golf' %><br>
    <%= form.select :golf_id,
        options_from_collection_for_select(Golf.all.each{|g|g.name},:id,:name) %><br>

    <%= form.label :'評価' %><br>
    <%= form.select :point_id,
        options_from_collection_for_select(Point.all.map,:id,:valuation) %><br>

    <%= form.label :'text' %><br>
    <%= form.text_field :text, class: 'form-control' %>

    <%= form.submit "投稿" %>
  </div>

<% end %>
