<% will_paginate @tweets %>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.golf.name %></p>
    <p>評価：<%= tweet.point.valuation %></p>
    <p><%= tweet.text %></p>
    <% if tweet.image? %>
      <%= image_tag tweet.image.url %>
    <% end %>
  <% end %>
<%= will_paginate @tweets %>
