<%= link_to '新規作成', new_tweet_path %><hr>


<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% will_paginate %>
      
      <% @tweets.each do |tweet| %>
        <div class='tweet'>
          <p class='golf_name'><%= link_to "#{tweet.golf.name}", golf_path(tweet.golf) %></p>
          <p class='hoge'>評価：<%= tweet.point.valuation.floor %></p>
          <p class='hoge'><%= link_to "#{tweet.text}", tweet %></p>

          <% if tweet.image? %>
            <p class='hoge'><%= image_tag tweet.image.url %></p>
          <% end %>

          <p class='hoge'>投稿者：<%= link_to "#{tweet.user.username}", member_path(User.find(tweet.user.id)) %></p>

          <p id="likes_buttons_<%= tweet.id %>">
            <%= render partial: 'likes/like', locals: { tweet: tweet, likes: @likes} %>
          </p>

          <% if current_user == tweet.user || current_user.admin? %>
            <div class='tweet_edit'>
              <%= link_to '編集', edit_tweet_path(tweet) %>
              <%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか?' } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= will_paginate %>
    </div>
  </div>
</div>
