<p id="notice"><%= notice %></p>

<h1>Golfer</h1><hr>

<%= search_form_for @q do |f| %>
  <%= f.label :golf, "ゴルフ場検索" %>
  <%= f.search_field :golf_name_cont %>
  <%= f.submit "検索" %>
<% end %>

<span><%= @tweets.count %>件</span><hr>

<%= link_to '新規作成', new_tweet_path %><hr>

<% will_paginate %>
<% @tweets.each do |tweet| %>
  <p><%= link_to "#{tweet.golf.name}", golf_path(tweet.golf) %></p>
  <p>評価：<%= tweet.point.valuation.floor %></p>
  <p><%= tweet.text %></p>
  <p><%= link_to '詳細', tweet %></p>

  <% if tweet.image? %>
    <%= image_tag tweet.image.url %>
  <% end %>

  <p>投稿者：<%= link_to "#{tweet.user.username}", member_path(User.find(tweet.user.id)) %></p>

  <div id="likes_buttons_<%= tweet.id %>">
    <%= render partial: 'likes/like', locals: { tweet: tweet, likes: @likes} %>
  </div>

  <% if current_user == tweet.user || current_user.admin? %>
    <%= link_to '編集', edit_tweet_path(tweet) %>
    <%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか?' } %><hr>
  <% end %>

<% end %>
<%= will_paginate %>
