<p id="notice"><%= notice %></p>

<p>
  <strong>ゴルフ場:</strong>
  <p><%= link_to "#{@tweet.golf.name}", golf_path(@tweet.golf) %></p>
</p>

<p>
  <strong>評価:</strong>
  <%= @tweet.point.valuation.floor %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @tweet.text %>
</p>

<% if @tweet.image? %>
  <p>
    <strong>image:</strong>
    <%= image_tag @tweet.image.url %>
  </p>
<% end %>

<% if current_user == @tweet.user || current_user.admin? %>
  <%= link_to '編集', edit_tweet_path(@tweet) %>
  <%= link_to '削除', @tweet, method: :delete, data: { confirm: '本当に削除しますか?' } %>
<% end %>
