<p id="notice"><%= notice %></p>

<p>
  <strong>ゴルフ場:</strong>
  <%= @tweet.golf_id %>
</p>

<p>
  <strong>評価:</strong>
  <%= @tweet.point_id %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @tweet.text %>
</p>

<%= link_to '編集', edit_tweet_path(@tweet) %> |
<%= link_to 'メインページ', tweets_path %>
