<p id="notice"><%= notice %></p>

<p>
  <strong>ゴルフ場:</strong>
  <%= @tweet.golf.name %>
</p>

<p>
  <strong>評価:</strong>
  <%= @tweet.point.valuation %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @tweet.text %>
</p>

<% if @tweet.image? %>
  <p>
    <strong>image:</strong>
    <%= image_tag @tweet.image.url %>
  </p>
<% end %>

<%= link_to '編集', edit_tweet_path(@tweet) %> |
<%= link_to 'メインページに戻る', tweets_path %>
