<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h6>ログインすると様々な機能が使えます。</h6>
      <strong class='guestbtn'><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></strong>
      <hr>

      <h1 id="unlogin_title"><%= @golf.name %></h1>

      <% if @tweets.count > 0 %>

        <div class='golf_point'>
          <span class='hoge'>みんなの評価　</span>
          <% @golf.tweets.average(:point_id).to_i.times do %>
            <span class="fas fa-star"></span>
          <% end %>
          <% (5-@golf.tweets.average(:point_id)).ceil.to_i.times do %>
            <span class="far fa-star"></span>
          <% end %>
          <span class='hoge'><%= @golf.tweets.average(:point_id).floor(1) %></span>
        </div>

      <% else %>
        <p class='hoge'>まだ評価がありません</p>
      <% end %>

      <p class='hoge'><%= @tweets.count %>件の評価</p>
      <hr>

      <h4 class='fuga'>みんなのツイート</h4>

      <% will_paginate @tweets %>

      <% @tweets.each do |tweet| %>
        <div class='tweet'>
          <p class='golf_name'><%= tweet.golf.name %></p>

          <%# <div class='golf_point'>
            <span class='hoge'>評価：</span>
            <% tweet.point.valuation.to_i.times do % >
              <span class="fas fa-star"></span>
            <% end % >
            <% (5-tweet.point.valuation.to_i).times do % >
            <span class="far fa-star"></span>
            <% end % >
          </div> %>

          <p class='hoge'><%= tweet.text %></p>

          <% if tweet.image? %>
            <p><%= image_tag tweet.image.url %></p>
          <% end %>

          <p class='hoge_right'>投稿日時：<%= simple_time(tweet[:created_at]) %></p>

        </div>
      <% end %>

      <%= will_paginate @tweets %>

    </div>
  </div>
</div>
