<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h2>ログイン</h2><hr>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <table class=devise_table>
          <tr>
            <th><%= f.label :email %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr>
            <th><%= f.label :password %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </table>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %><hr>

        <div class="actions">
          <%= f.submit "ログイン" , class: 'devise-btn' %>
        </div>

        <p>※現在、会員登録をストップしております。</p>
        <p>以下よりゲストログインしてください</p>
        <strong class='guest_btn'><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></strong>

      <% end %><hr>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
