<!DOCTYPE html>
<html>
  <head>
    <title>GolfReviewApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1f41faf27a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="wrapper">
      <header>

        <% if user_signed_in? %>
<div class="titlebar">

  <div class='header_left'>

          <h1 class='header_title'>Golfer</h1>

          <div class="dropdown">
          
            <button class="btn btn-secondary dropdown-toggle"type="button"id="dropdownMenuButton"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ゴルフ場
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "ゴルフ場一覧", golves_path, class: "dropdown-item" %>
              <%= link_to "おすすめのゴルフ場", rank_golves_path, class: "dropdown-item" %>
            </div>

          </div>


          <strong class='header_link'><%= link_to 'トップページ', tweets_path %></strong>
          <strong class='header_link'><%= link_to 'マイページ', member_path(current_user) %></strong>
          <strong class='header_link'><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></strong>

          <% if current_user.admin? %>
            <strong class='header_link'><%= link_to '管理者ページ', members_path %></strong>
          <% end %>
  </div>

  <div class='header_right'>


          <div class='search'>
            <%= search_form_for Golf.ransack(params[:q]) do |f| %>
              <%= f.label :name, "ゴルフ場の名前で検索" %>
              <%= f.search_field :name_cont %>

              <%= f.submit "検索" %>
            <% end %>
          </div>
  </div>
</div>

        <% else %>
          <strong class='header_link'><%= link_to '新規登録', new_user_registration_path %></strong>
          <strong class='header_link'><%= link_to 'ログイン', new_user_session_path %></strong>
        <% end %>

      </header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

      <footer>
        <span>Golfer</span>
      </footer>
    </div>
  </body>
</html>
