<% if current_user == @user %>
  <h2>マイページ<h2><hr>

  <%= link_to 'プロフィール変更', edit_user_registration_path, class: "dropdown-item" %>

  <%= link_to 'フォローしている人のtweet', follow_tweet_tweets_path %>

  <section class="stats">
    <%= render 'shared/stats' %>
  </section>

  <% will_paginate @tweets %>
    <% @tweets.each do |tweet| %>
      <p><%= link_to "#{tweet.golf.name}", golf_path(tweet.golf) %></p>
      <p>評価：<%= tweet.point.valuation %></p>
      <p><%= tweet.text %></p>
      <p><%= link_to '詳細', tweet %></p>

      <% if tweet.image? %>
        <%= image_tag tweet.image.url %>
      <% end %>

      <%= link_to '編集', edit_tweet_path(tweet) %>
      <%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか?' } %>
      <hr>
    <% end %>
  <%= will_paginate @tweets %>

<% else %>
  <h2><%= @user.username %>さんのページ</h2>

  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <%= render 'follow_form' %>

  <% will_paginate @tweets %>
    <% @tweets.each do |tweet| %>
      <p><%= link_to "#{tweet.golf.name}", golf_path(tweet.golf) %></p>
      <p>評価：<%= tweet.point.valuation %></p>
      <p><%= tweet.text %></p>
      <p><%= link_to '詳細', tweet %></p>

      <% if tweet.image? %>
        <%= image_tag tweet.image.url %>
      <% end %>

      <% if current_user.admin? %>
        <%= link_to '編集', edit_tweet_path(tweet) %>
        <%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか?' } %>
      <% end %>
      <hr>
    <% end %>
  <%= will_paginate @tweets %>
<% end %>
